<!-- 头部开始 -->
<%- include('templet/_meta', {title: "营销系统"}) %>

<!-- 导航条开始 -->
<%- include templet/_header %>
<!-- 导航条结束 -->


<div class="pd-20">
  这是个dosth的测试页面
 	<a href="/hello">欢迎欢迎</a>
</div>
<script>
	console.log(1111111);
</script>