<!-- header开始 -->
<%- include ../template/_header %>
<!-- header结束 -->
	<!--时间插件开始-->
<link href="/css/common/daterangepicker-bs3.css"  rel="stylesheet"/>
<link href="/css/common/daterangepicker-1.3.7.css" rel="stylesheet" />
<link href="/css/common/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--时间插件结束-->

<!-- <link href="/css/common/mytools.css" rel="stylesheet"> -->
<link href="/css/common/pager.css" rel="stylesheet">

<style>
	/*.shieldlog .md-radio{
		display: block!important;
	}*/
	td a{
		float: left;
        margin-right: 10px;
        margin-bottom: 10px;
	}
	td a img{
		width: 60px;
        display: block;
	}
	td a img:hover{
		z-index: 99;
	}
    table button .btn{
        margin-top: 5px;
        float: left;
    }
    .md-radio{
        min-width: 120px !important;
        margin-right: 10px!important;
    }

    .pageTest{ width: 400px; height: 50px;margin: 0 auto; margin-top: 40px;display:block;}
    .activP{
        background-color: #337ab7!important;
        color: #fff!important;
    }
    .mainportlet-body{
        padding-bottom:0px!important;
    }
    .fixeds{
        position: fixed;
        top: 230px;
        left: -500px;
        z-index: 999;
    }
    .iscrollHead{
        background: #ccc;z-index:999;position: absolute;width: 100%;top: 100px;
    }
    .controlselect div a{
        margin-right: 0;
    }
    .headCancel{
        display: none;
    }
</style>
<div class="breadcrumbs">
    <h1><i class="icon-users" style="padding-right: 10px;"></i>全部用户</h1>
    <ol class="breadcrumb">
        <li>用户管理</li>
        <li class="active">全部用户</li>
    </ol>
</div>
<div class="note note-success row">
    当前用户数：<span id="allUser"></span>&nbsp;&nbsp;&nbsp;&nbsp;每页展示：<span id="pageNum">50</span>个，一共有<span id="allPage"></span>页，当前为第<span id="currentPage">1</span>页
</div>

<div class="page-content-row">
    <div class="page-content-col" style="padding-left:0;">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered bordereds">
                    <div class="portlet-title">
                        <div class="caption" style="color: #36C6D3">
                        <i class="icon-notebook" style="color: #36C6D3"></i>全部用户列表</div>
                        <div class="tools"> 
                              
                        </div>
                    </div>
                    <div class="portlet-title">
                    	<div class="row" style="padding-bottom: 10px;">
                			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                				<input type="text" class="form-control input-sm input-small input-inline"  name="" id="sxh1" value="" placeholder="昵称模糊搜索"/></label>
                			</div>
                			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                				<input type="text" class="form-control input-sm input-small input-inline"  name="" id="sxh2" value="" placeholder="昵称精准搜索"/></label>
                			</div>
                			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                <input type="text" style="width: 40px!important;padding: 0;text-align: center;" class="form-control input-sm input-small input-inline"  name="" id="areacode" value="86" placeholder="区号"/></label>
                				<input type="text" class="form-control input-sm input-small input-inline"  name="" id="sxh3" value="" placeholder="手机号搜索"/></label>
                			</div>
                			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                				<input type="text" class="form-control input-sm input-small input-inline"  name="" id="sxh4" value="" placeholder="个性签名搜索"/></label>
                			</div>
                			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                				<input type="text" class="form-control input-sm input-small input-inline"  name="" id="sxh5" value="" placeholder="IP搜索"/></label>
                			</div>
                			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                				<input type="text" class="form-control input-sm input-small input-inline"  name="" id="sxh6" value="" placeholder="备注搜索"/></label>
                			</div>
                		</div>
                    </div>
                    <div class="portlet-title">
                    	<div class="row">
                    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			                	<!--时间选择-->
			                	<div class="container-fluid">
									<div class="row-fluid" style="margin-top:5px">
										<div class="span4">
											<div class="control-group">
												<div class="controls">
													<div id="reportrange6" class="pull-left dateRange" style="width:260px">
														<i class="glyphicon glyphicon-calendar fa fa-calendar" style="margin-right: 15px;"></i>
														<span id="searchDateRange"></span>
														<b class="caret"></b>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <select name="" class="form-control" id="objectList">
                                   <!--  <optgroup class="myOptgroup" label="德国车">
                                        <option value="volvo">奔驰</option>
                                        <option value="saab">宝马</option>
                                        <option value="koenigsegg">奥迪</option>
                                    </optgroup>
                                    <optgroup class="myOptgroup" label="德国车">
                                        <option value="volvo">奔驰</option>
                                        <option value="saab">宝马</option>
                                        <option value="koenigsegg">奥迪</option>
                                    </optgroup> -->
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0;">
                                   <button type="button" class="btn btn-warning kfthrough">本地过滤</button>
                            </div>
			                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: right;">
                				<button type="button" class="btn btn-info" id="search"><i class="icon-magnifier">&nbsp;</i>搜索</button> 
                			</div>
                    	</div>
                	</div>
                    <div class="portlet-title">
                    	
                		<div class="row">	
                			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 md-radio-inline">
                				<span style="min-width: 110px;text-align:right;display: inline-block;">
                            	性别筛选：
                            	</span>
                            	<div class="md-radio" style="min-width: 70px!important">
	                                <input type="radio" checked id="checkbox2_6" name="radio2" value="" class="md-radiobtn selectRadio">
	                                <label for="checkbox2_6">
	                                    <span></span>
	                                    <span class="check"></span>
	                                    <span class="box"></span>全部</label>
	                            </div>
                            	<div class="md-radio">
	                                <input type="radio" id="checkbox2_7" name="radio2" value="1" class="md-radiobtn selectRadio">
	                                <label for="checkbox2_7">
	                                    <span></span>
	                                    <span class="check"></span>
	                                    <span class="box"></span>男</label>
	                            </div>
                    			<div class="md-radio">
	                                <input type="radio" id="checkbox2_8" name="radio2" value="2" class="md-radiobtn selectRadio">
	                                <label for="checkbox2_8">
	                                    <span></span>
	                                    <span class="check"></span>
	                                    <span class="box"></span>女</label>
	                            </div>
                			</div>
                             <div class="col-lg-4 col-md-4" style="text-align: right;">
                                <button type="button" id="refresh" class="btn btn-success add refresh">刷新</button>
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-radio-inline">
                                <span style="min-width: 110px;text-align:right;display: inline-block;">
                                三日内是否漏审：
                                </span>
                                <div class="md-radio" style="min-width: 70px!important">
                                    <input type="radio" checked id="checkbox2_9" name="radio3" value="" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_9">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>默认</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_10" name="radio3" value="1" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_10">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>未审</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_11" name="radio3" value="2" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_11">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>已审</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-radio-inline">
                                <span style="min-width: 110px;text-align:right;display: inline-block;">
                                是否锁定：
                                </span>
                                <div class="md-radio" style="min-width: 70px!important">
                                    <input type="radio" checked id="checkbox2_13" name="radio4" value="" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_13">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>默认</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_14" name="radio4" value="2" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_14">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>未锁定</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_15" name="radio4" value="1" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_15">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>锁定</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-radio-inline">
                                <span  style="min-width: 110px;text-align:right;display: inline-block;">
                                单双号筛选：
                                </span>
                                <div class="md-radio" style="min-width: 70px!important">
                                    <input type="radio" checked id="checkbox2_16" name="radio5" value="" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_16">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>默认</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_17" name="radio5" value="1" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_17">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>单号</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_18" name="radio5" value="2" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_18">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>双号</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-radio-inline">
                                <span style="min-width: 110px;text-align:right;display: inline-block;">
                                    分类筛选：
                                </span>
                                <div class="md-radio" style="min-width: 70px!important">
                                    <input type="radio" checked id="checkbox2_1" name="radio1" value="" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_1">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>默认</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_2" name="radio1" value="3" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_2">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>管理员备注列表</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_3" name="radio1" value="0" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_3">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>屏蔽列表</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_4" name="radio1" value="1" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_4">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>正常用户列表</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_5" name="radio1" value="2" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_5">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>沉底用户列表</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_30" name="radio1" value="6" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_30">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>数美问题头像</label>
                                </div>
                                <!-- <div class="md-radio">
                                    <input type="radio" id="checkbox6_1" name="radio1" value="6" class="md-radiobtn selectRadio">
                                    <label for="checkbox6_1">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>锁定列表</label>
                                </div> -->
                            </div>
                           
                        </div>
                    </div>
                    <div class="portlet-title">
                    	<div class="row">
                    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="operations" style="text-align: right;padding-bottom: 15px;color: #fff;">
                                 
                                <button type="button" id="shield" class="btn add shield" style="background: #FF4040;">选中屏蔽</button> 
                                <button type="button" id="relieve" class="btn sorting" style="background: #9ACD32;">选中解封</button> 
                                <button type="button" id="sink" class="btn orbit" style="background: #FF4040;">选中沉底</button>
                                <button type="button" id="fishs" class="btn " style="background: #9ACD32;">选中海底捞</button>  
                                <button type="button" id="remark" class="btn orbit" style="background: #1C86EE;">选中备注</button> 
                            </div>
                            <!-- <div class="row" style="position: fixed;margin: 0 atuo;top: 400px;">
                                
                            </div> -->
                    	</div>
                    </div>
                    <div class="portlet-title">
                        <div>
                            <ul class="pagination" id="page1">
                            </ul>
                            <div class="pageJump">
                                <span>跳转到</span>
                                <input type="text"/ style="width: 50px!important;">
                                <span>页</span>
                                <button type="button" class="button">确定</button>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-12 col-md-12" style="text-align: right;">
                                <button type="button" id="refresh" class="btn btn-success add refresh">刷新</button>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="portlet-body" style="position: relative;">
                       

                    </div> -->
                    <div class="portlet-body" style="position: relative;">
                        <!-- <table class="table table-striped table-bordered table-hover dt-responsive iscrollHead" width="100%" id="iscrollHead" cellspacing="0" width="100%" style="display: none;">
                            <thead>
                                <tr>
                                    <th class="all duan4">
                                        <input id="all" type="checkbox" name="" value="11" />
                                    </th>
                                    <th class="all duan4">UID</th> 
                                    <th class="all duan6">手机</th>
                                    <th class="all duan6">用户所在地</th>
                                    <th class="all unsort duan20">头像</th>
                                    <th class="all duan6">昵称</th>
                                    <th class="all duan3">性别</th>
                                    <th class="all duan8">个性签名</th>
                                    <th class="all duan6">生日</th>
                                    <th class="all duan8">最后登陆时间</th>
                                    <th class="all duan6">注册日期</th>
                                    <th class="all duan5">IP</th>
                                    <th class="all unsort duan6">管理员备注</th>
                                    <th class="all unsort duan4">用户状态</th>
                                    <th class="all unsort duan4">平台</th>
                                    <th class="all unsort duan4">操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table> -->
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_3" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                	<th class="all duan4">
                                		<input id="all" type="checkbox" name="" value="11" />
                                	</th>
                                    <th class="all duan4">UID</th> 
                                    <th class="all duan6">手机</th>
                                    <!-- <th class="all duan6">用户所在地</th> -->
                                    <th class="all unsort duan14">头像</th>
                                    <th class="all duan6">昵称</th>
                                    <th class="all duan3">性别</th>
                                    <th class="all duan3">个性签名</th>
                                    <th class="all duan6">生日</th>
                                    <th class="all duan6">最后登陆时间</th>
                                    <th class="all duan6">注册日期</th>
                                    <th class="all duan4">IP</th>
                                    <th class="all unsort duan4">管理员备注</th>
                                    <th class="all unsort duan4">smRiskLevel</th>
                                    <th class="all unsort duan5">用户状态</th>
                                    <th class="all unsort duan4">标签</th>
                                    <th class="all unsort duan4">目的</th>
                                    <th class="all unsort duan2">平台</th>
                                    <th class="all unsort duan11">操作</th>
                                    <th class="all unsort duan4">操作日志</th>
                                </tr>
                            </thead>
                            <!-- <tbody id="loading">
                                <tr id="loading">
                                    <td colspan="16"><img style="width: 36px" src="/img/common/loading.gif" alt=""></td>
                                </tr>
                            </tbody> -->
                            <tbody id="tbody">
                                <tr id="loading">
                                    <td colspan="19"><img style="width: 36px" src="/img/common/loading.gif" alt=""></td>
                                </tr>
                                    
                               <!--  <tr>
                                	<td>
                                		<input type="checkbox" name="" id="" value="1" />
                                	</td>
                                	<td>1981640</td>
                                	<td>8618822676788</td>
                                    <td>北京</td>
                                    <td>
                                    	<a class="fancybox" href="/img/fancybox/1_b.jpg" data-fancybox-group="gallery" title=""><img src="/img/fancybox/1_s.jpg" alt="" /></a>
										<a class="fancybox" href="/img/fancybox/2_b.jpg" data-fancybox-group="gallery" title=""><img src="/img/fancybox/2_s.jpg" alt="" /></a>
										<a class="fancybox" href="/img/fancybox/3_b.jpg" data-fancybox-group="gallery" title=""><img src="/img/fancybox/3_s.jpg" alt="" /></a>
                                    </td>
                                    <td>zoom</td>
                                    <td>女</td>
                                    <td>猫系，悦享 狗系，慎用 兔系，尽情享用 熊系，情结适用 猪系，个性化使用</td>
                                    <td>1998/06/06</td>
                                    <td>2016-11-28 19:28:43</td>
                                    <td>2016-11-28 19:28:43</td>
                                    <td>192.168.10.1</td>
                                    <td>色情</td>
                                    <td>安卓</td>
                                    <td class="all">
                                    	<div class="controlselect">
                                    		<span>操作</span><i></i>
                                    		<div class="selectmap">
                                    			<div class="shields">屏蔽</div>
                                    			<div class="sink">沉底</div>
                                    			<div class="details">查看详情</div>
                                    			<div class="exchange">替换头像</div>
                                    			<div class="journal">查看日志</div>
                                    		</div>
                                    	</div>
                                    </td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                      
                    </div>
                    <!-- <div class="pageTest"></div> -->
                    <!-- <div>
                        <ul class="pagination" id="page1">
                        </ul>
                        <div class="pageJump">
                            <span>跳转到</span>
                            <input type="text"/ style="width: 50px!improtant;">
                            <span>页</span>
                            <button type="button" class="button">确定</button>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12" style="text-align: right;">
                            <button type="button" id="refresh" class="btn btn-success add refresh">刷新</button>
                        </div>
                    </div>

                    <!-- <div>
                    <ul class="pagination" id="page2">
                    </ul>
                    <div class="pageJump">
                        <span>跳转到</span>
                        <input type="text"/>
                        <span>页</span>
                        <button type="button" class="button">确定</button>
                    </div>
                    </div> -->
                    <!-- <nav class="page">
                      <ul class="pager">
                        <li><a href="javascript:;" id="prev_page">上一页</a></li>
                        <li><a href="javascript:;" id="next_page">下一页</a></li>
                        <li>
                          <div class="col-md-2 input-group pull-left">
                            <input id="page_num_val1" type="text" class="form-control" placeholder="输入页数">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" id="page_num1">Go!</button>
                            </span>
                          </div>
                        </li>
                        
                      </ul>
                    </nav> -->
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
</div>

<!--屏蔽弹窗-->
<div class="lgdialog shieldlog" style="display: none;">
    <!-- <div class="portlet-body form lgdialogcontent lgdialogcontentform"> -->
	<div class="portlet-body form lgdialogcontent">
        <div class="modal-header modal-headers">
        	<div class="dialogclose dialogcloses">
        		<img src="/img/common/remove-icon-small.png"/>
        	</div>
        	<h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>屏蔽反馈</h4>
        </div>
        <div class="modal-body">
       	<!--内容开始-->
       		<div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal ">
                     <div class="form-body">
                        
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">话术类型:</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <select name="" class="form-control" id="typeList">
                					
                				</select>
                                <span class="help-block" style="color:red">选择其他话术的时候应先选择话术类型吆！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">选择其他话术:</label>
                            <div id="radioList" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 md-radio-inline" style="text-align: left;">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">给该用户备注(选填):</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <!--<input name="personName" value="" class="form-control" type="text"/>-->
                                <textarea class="form-control toUserRemark" name="" rows="3" cols="" placeholder=""></textarea>
                                <span class="help-block" style="color:red"> </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">给该用户回复(选填):</label>
                           <!--  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 md-radio-inline" style="text-align: left;">
                                <div class="md-radio" style="display: inline-block!important;">
	                                <input type="radio" checked id="checkbox4_1" name="radio4" value="121" class="md-radiobtn">
	                                <label for="checkbox4_1">
	                                    <span></span>
	                                    <span class="check"></span>
	                                    <span class="box"></span>刘波回复</label>
	                            </div>
	                            <div class="md-radio" style="display: inline-block!important;">
	                                <input type="radio" id="checkbox4_2" name="radio4" value="112" class="md-radiobtn">
	                                <label for="checkbox4_2">
	                                    <span></span>
	                                    <span class="check"></span>
	                                    <span class="box"></span>短信回复</label>
	                            </div>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"></label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <textarea class="form-control toUserMsg" name="" rows="3" cols=""></textarea>
                                <span class="help-block" style="color:red"> </span>
                            </div>
                        </div>

                    	<div class="form-group">
                            <!--<label class="control-label col-lg-7 col-md-7 col-sm-7 col-xs-7">真实用户带入机器人配比:</label>-->
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"></label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="text-align: center;">
                            	<button id="shieldBtn" type="button" class="btn green">
                                    <i class="fa fa-check"></i> 确定</button>
                                <button type="button" class="btn default lgdialogcloses">
                                	<i class="fa fa-times"></i>取消</button>
                            </div>
                    	</div>
                	</div>
                </form>
                <!-- END FORM-->
            </div>
       	<!--内容结束-->
        </div>
     </div>
</div>
<!-- 沉底弹窗 -->
<div class="lgdialog sinkback" style="display: none;">
    <div class="portlet-body form lgdialogcontent">
        <div class="modal-header modal-headers">
            <div class="dialogclose dialogcloses">
                <img src="/img/common/remove-icon-small.png"/>
            </div>
            <h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>沉底反馈</h4>
        </div>
        <div class="modal-body">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal ">
                    <div class="form-body">
                        
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">选择沉底原因:</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <select name="" class="form-control" id="sinkList">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"></label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="text-align: center;">
                                <button id="sinkbackBtn" type="button" class="btn green">
                                    <i class="fa fa-check"></i> 确定</button>
                                <button type="button" class="btn default lgdialogcloses">
                                    <i class="fa fa-times"></i>取消</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
            <!--内容结束-->
        </div>
    </div>
</div>


<!--解封及沉底的弹窗-->
<div class="smdialog deletedialog" style="display: none;">
	<div class="portlet-body form smdialogcontent">
        <div class="modal-header modal-headers">
        	<div class="dialogclose dialogcloses">
        		<img src="/img/common/remove-icon-small.png"/>
        	</div>
        	<h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>系统提示</h4>
        </div>
        <div class="modal-body">
       	<!--内容开始-->
       		<div class="smcontent">
       			<!--<p>确定删除<span class="red">道具目名称(8888)</span>道具吗？</p>-->
       			<p>确定将选中的用户沉底吗？</p>
       		</div>
       	<!--内容结束-->
        </div>
        <div class="modal-footer">
        	<button class="btn default smdialogcloses">取消</button>
        	<button class="btn green ">确定</button>
        </div>
     </div>
</div>
<!--备注的弹窗-->
<div class="smdialog remarkdialog" style="display: none;">
	<div class="portlet-body form smdialogcontent">
        <div class="modal-header modal-headers">
        	<div class="dialogclose dialogcloses">
        		<img src="/img/common/remove-icon-small.png"/>
        	</div>
        	<h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>添加备注内容</h4>
        </div>
        <div class="modal-body">
       	<!--内容开始-->
       		<div class="smcontent">
       			<!--<p>确定删除<span class="red">道具目名称(8888)</span>道具吗？</p>-->
       			<textarea id="remarkTxt" name="" rows="2" cols="" class="form-control"></textarea>
                <span class="help-block remarkMsg" style="color:red"></span>
       		</div>
       	<!--内容结束-->
        </div>
        <div class="modal-footer">
        	<button class="btn default smdialogcloses">取消</button>
        	<button id="remarkBtn" class="btn green">确定</button>
        </div>
     </div>
</div>
<!--信息提示弹窗弹窗-->
<div class="smdialog numCgdialog" style="display: none;">
    <div class="portlet-body form smdialogcontent">
        <div class="modal-header modal-headers">
            <h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>信息提示</h4>
        </div>
        <div class="modal-body">
        <!--内容开始-->
            <div class="smcontent">
                <p style="color: red;"></p>
            </div>
        <!--内容结束-->
        </div>
     </div>
</div>
<!--打标签弹窗-->
<div class="lgdialog tagslog" style="display: none;">
    <div class="portlet-body form lgdialogcontent">
        <div class="modal-header modal-headers">
            <div class="dialogclose dialogcloses">
                <img src="/img/common/remove-icon-small.png"/>
            </div>
            <h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>标签选择</h4>
        </div>
        <div class="modal-body">
        <!--内容开始-->
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal ">
                     <div class="form-body">
                        <div id="tagList">
                            
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                                <button id="checkBtn" type="button" class="btn green">
                                    <i class="fa fa-check"></i> 确定</button>
                                <button type="button" class="btn default lgdialogcloses">
                                    <i class="fa fa-times"></i>取消</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        <!--内容结束-->
        </div>
     </div>
</div>
        <!--弹窗轮播开始-->
        <script type="text/javascript" src="/js/fancybox/jquery-1.8.2.min.js"></script>
        <!-- <script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script> -->
        <script type="text/javascript" src="/js/fancybox/jquery.fancybox.js?v=2.1.3"></script>
        <!-- <script type="text/javascript" src="/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5"></script> -->
        <script type="text/javascript" src="/js/fancybox/jquery.fancybox-thumbs.js?v=1.0.7"></script>
        <!-- <script type="text/javascript" src="/js/fancybox/jquery.fancybox-media.js?v=1.0.5"></script> -->
        <!--弹窗轮播结束-->
        <script src="/js/common/mytools.js" type="text/javascript"></script>
        <!-- <script src="/js/common/require.js" defer async="true" ></script> -->
        <!--时间插件开始-->
        <script src="/js/common/moment.js" type="text/javascript"></script>
        <script src="/js/common/daterangepicker-1.3.7.js" type="text/javascript"></script>
        <script src="/js/common/mainTime.js" type="text/javascript"></script>
        <!--时间插件结束-->
        <!-- 分页插件 -->
        <!-- <script src="/js/common/page.js" type="text/javascript"></script> -->
        <script src="/js/common/pager.js" type="text/javascript"></script>
        <script src="/js/user/userCommon.js?t=<?=time()?>" type="text/javascript" charset="utf-8"></script>
        <script src="/js/user/ordinary.js?t=<?=time()?>" type="text/javascript" charset="utf-8"></script>
        <script>
            $('.navbar-nav li.dropdown-fw').eq(1).addClass("open selected").siblings().removeClass("open selected");
            $('.dropdown2 ul.dropdown-menu-fw>li').eq(0).addClass("active").siblings().removeClass("active");
            // console.log(conf.host);
        </script>
       
		

<!-- footer开始 -->
<%- include ../template/_footer %>
<!-- footer结束-->
