<!--<link rel="stylesheet" type="text/css" href="/public/css/user/ordinary.css"/>-->
<!--时间插件开始-->
<link href="/public/css/common/daterangepicker-bs3.css"  rel="stylesheet"/>
<link href="/public/css/common/daterangepicker-1.3.7.css" rel="stylesheet" />
<link href="/public/css/common/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--弹窗轮播开始-->
<link rel="stylesheet" type="text/css" href="/public/css/fancybox/jquery.fancybox.css?v=2.1.2" media="screen" />
<link rel="stylesheet" type="text/css" href="/public/css/fancybox/jquery.fancybox-buttons.css?v=1.0.5" />
<link rel="stylesheet" type="text/css" href="/public/css/fancybox/jquery.fancybox-thumbs.css?v=1.0.7" />
<!-- 分页插件 -->
<!-- <link href="/public/css/common/page.css" rel="stylesheet"> -->
<link href="/public/css/common/pager.css" rel="stylesheet">
<!--时间插件结束-->
<link href="/public/css/common/mytools.css" rel="stylesheet">
<style>
	.shieldlog .md-radio{
		display: block;
	}
    td a{
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    td a img{
        width: 60px;

    }
    td a img:hover{
        z-index: 99;
    }
    .pageTest{ width: 400px; height: 50px;margin: 0 auto; margin-top: 40px;display:block;}
    .activP{
        background-color: #337ab7!important;
        color: #fff!important;
    }
    .fixeds{
        position: fixed;
        top: 300px;
        left: -500px;
        z-index: 999;
    }
    .iscrollHead{
        background: #ccc;z-index:999;position: absolute;width: 100%;top: 100px;
    }
</style>
<div class="breadcrumbs">
    <h1><i class="icon-users" style="padding-right: 10px;"></i>待处理用户</h1>
    <!--<ol class="breadcrumb">
        <li>用户管理</li>
        <li class="active">全部用户</li>
    </ol>-->
</div>

<div class="note note-success row">
    共有条数：<span id="allUser"></span>&nbsp;&nbsp;&nbsp;&nbsp;每页展示：<span id="pageNum">50</span>个，一共有<span id="allPage">100</span>页，当前为第<span id="currentPage">1</span>页
</div>

<div class="page-content-row">
    <!-- BEGIN PAGE SIDEBAR -->
   
    <!-- END PAGE SIDEBAR -->
    <div class="page-content-col" style="padding-left:0;">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered bordereds">
                    <div class="portlet-title">
                        <div class="caption" style="color: #36C6D3">
                        <i class="icon-notebook" style="color: #36C6D3"></i>待处理用户列表</div>
                        <div class="tools"> 

                        </div>
                    </div>
                    
                    <div class="portlet-title">
                    	<div class="row" style="padding-bottom: 10px;">
                    		<!--<div class="form-group">-->
			                <!--</div>-->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <!--时间选择-->
                                <div class="container-fluid" style="display: inline-block;">
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div id="reportrange1" class="pull-left dateRange" style="width:340px">
                                                        <i class="glyphicon glyphicon-calendar fa fa-calendar" style="margin-right: 15px;"></i>
                                                        <span id="searchDateRange"></span>
                                                        <b class="caret"></b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn reset" style="display: inline-block;margin-top: -20px;background: #98FB98;">置空时间</button>
                            </div>
                			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                <input type="text" style="width: 40px!important;padding: 0;text-align: center;" class="form-control input-sm input-small input-inline"  name="" id="areacode" value="86" placeholder="区号"/></label>
                                <input type="text" class="form-control input-sm input-small input-inline"  name="" id="sxh3" value="" placeholder="手机号搜索"/></label>
                            </div>
                			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                				<input type="search" class="form-control input-sm input-small input-inline"  name="" id="sxh2" value="" placeholder="用户ID搜索"/></label>
                			</div>
                			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top: 10px;">
                				
                                <div class="md-radio" style="display: inline-block;">
                                    <input type="radio" checked id="checkbox2_7" name="radio5" value="1" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_7">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>未处理</label>
                                </div>
                                <div class="md-radio" style="display: inline-block;">
                                    <input type="radio" id="checkbox2_8" name="radio5" value="2" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_8">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>已处理</label>
                                </div>
                			</div>
                			
			                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align: right;">
                				<button type="button" class="btn btn-info" id="search"><i class="icon-magnifier">&nbsp;</i>搜索</button> 
                			</div>
                		</div>
                    </div>
                    <div class="portlet-title">
                        <div class="row">
                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-radio-inline">
                                <span>
                                    分类筛选：
                                </span>
                                <div class="md-radio">
                                    <input type="radio" checked id="checkbox2_1" name="radio1" value="" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_1">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>默认</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_2" name="radio1" value="0" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_2">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>被封禁列表</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_3" name="radio1" value="1" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_3">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>正常用户列表</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_4" name="radio1" value="2" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_4">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>沉底用户列表</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox3_4" name="radio1" value="6" class="md-radiobtn selectRadio">
                                    <label for="checkbox3_4">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>锁定列表</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-radio-inline">
                                <span>
                                性别筛选：
                                </span>
                                <div class="md-radio">
                                    <input type="radio" checked id="checkbox2_5" name="radio2" value="" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_5">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>全部</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_6" name="radio2" value="1" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_6">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>男</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_7" name="radio2" value="2" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_7">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>女</label>
                                </div>
                            </div>
                        </div> -->
                		<!-- <div class="row">   
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 md-radio-inline">
                                <span>
                                是否漏审：
                                </span>
                                <div class="md-radio">
                                    <input type="radio" checked id="checkbox2_9" name="radio3" value="" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_9">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>默认</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_10" name="radio3" value="1" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_10">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>未审</label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_11" name="radio3" value="2" class="md-radiobtn selectRadio">
                                    <label for="checkbox2_11">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>已审</label>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <span>用户已处理数量:<em style="font-style: normal;color: red;" id="haveHand"></em></span>
                                <span style="margin-left: 30px;">未处理数量:<em style="font-style: normal;color: red;" id="noHand"></em></span>
                            </div>
                            <div class="col-lg-4 col-md-4" style="text-align: right;margin-bottom: 8px;">
                                <button class="btn btn-success lookNum" >查看处理数量</button>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-title">
                    	<div class="row">
                    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="operations" style="text-align: right;padding-bottom: 15px;color: #fff;">
                                <button type="button" id="allhadle" class="btn allhadle btn-success"><!--<i class="icon-plus">&nbsp;</i>-->已处理</button> 
                                <button type="button" id="shield" class="btn add" style="background: #FF4040;"><!--<i class="icon-plus">&nbsp;</i>-->选中屏蔽</button> 
                                <button type="button" id="relieve" class="btn sorting" style="background: #9ACD32;"><!--<i class="icon-film">&nbsp;</i>-->选中解封</button> 
                                <button type="button" id="sink" class="btn orbit" style="background: #FF4040;"><!--<i class="icon-share-alt ">&nbsp;</i>-->选中沉底</button> 
                                <button type="button" id="fishs" class="btn " style="background: #9ACD32;">选中海底捞</button>
                                <button type="button" id="remark" class="btn orbit" style="background: #1C86EE;">选中备注</button> 
                            </div>
                    	</div>
                    </div>
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                                <button type="button" id="refresh" class="btn btn-success add refresh">刷新</button>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" style="position: relative;">
                    	<!-- <table class="table table-striped table-bordered table-hover dt-responsive iscrollHead" width="100%" id="iscrollHead" cellspacing="0" width="100%" style="display: none;">
                            <thead>
                                <tr>
                                    <th class="all duan4">
                                        <input type="checkbox" name="" id="all" value="" />
                                    </th>
                                    <th class="all duan4">UID</th> 
                                    <th class="all duan6">手机</th>
                                    <th class="all duan8">用户所在地</th>
                                    <th class="all unsort duan20">头像</th>
                                    <th class="all duan8">昵称</th>
                                    <th class="all duan4">性别</th>
                                    <th class="all duan4">状态</th>
                                    <th class="all duan16">个性签名</th>
                                    <th class="all duan8">生日</th>
                                    <th class="all duan8">上次操作时间时间</th>
                                    <th class="all unsort duan6">管理员备注</th>
                                    <th class="all unsort duan4">操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>-->
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_3" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                	<th class="all duan4">
                                		<input type="checkbox" name="" id="all" value="" />
                                	</th>
                                    <th class="all duan4">UID</th> 
                                    <th class="all duan6">手机</th>
                                    <th class="all duan8">用户所在地</th>
                                    <th class="all unsort duan16">头像</th>
                                    <th class="all duan4">昵称</th>
                                    <th class="all duan2">性别</th>
                                    <th class="all duan4">状态</th>
                                    <th class="all duan4">IP</th>
                                    <th class="all duan6">个性签名</th>
                                    <th class="all duan8">生日</th>
                                    <th class="all duan7">上次操作时间</th>
                                    <th class="all unsort duan5">smRiskLevel</th>
                                    <th class="all unsort duan4">目的</th>
                                    <th class="all unsort duan6">管理员备注</th>
                                    <th class="all unsort duan12">操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr id="loading">
                                    <td colspan="16"><img style="width: 36px" src="/public/img/common/loading.gif" alt=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="pageTest"></div> -->
                    <div>
                        <ul class="pagination" id="page1">
                        </ul>
                        <div class="pageJump">
                            <span>跳转到</span>
                            <input type="text"/ style="width: 50px!important;">
                            <span>页</span>
                            <button type="button" class="button">确定</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12" style="text-align: right;">
                            <button type="button" id="refresh" class="btn btn-success add refresh">刷新</button>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
          
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    </div>
</div>

<!--屏蔽弹窗-->
<div class="lgdialog shieldlog" style="display: none;">
	<div class="portlet-body form lgdialogcontent">
        <div class="modal-header modal-headers">
        	<div class="dialogclose dialogcloses">
        		<img src="/public/img/common/remove-icon-small.png"/>
        	</div>
        	<h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>屏蔽反馈</h4>
        </div>
        <div class="modal-body">
       	<!--内容开始-->
       		<div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal ">
                     <div class="form-body">
                        
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">话术类型:</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <select name="" class="form-control" id="typeList">
                					
                				</select>
                                <span class="help-block" style="color:red">选择其他话术的时候应先选择话术类型吆！</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">选择其他话术:</label>
                            <div id="radioList"  class="col-lg-7 col-md-7 col-sm-7 col-xs-7 md-radio-inline" style="text-align: left;">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">给该用户备注(选填):</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <!--<input name="personName" value="" class="form-control" type="text"/>-->
                                <textarea class="form-control toUserRemark" name="" rows="3" cols="" placeholder=""></textarea>
                                <span class="help-block" style="color:red"> </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">给该用户回复(选填):</label>
                            <!-- <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 md-radio-inline" style="text-align: left;">
                                <div class="md-radio" style="display: inline-block!important;">
	                                <input type="radio" checked id="checkbox4_1" name="radio4" value="121" class="md-radiobtn">
	                                <label for="checkbox4_1">
	                                    <span></span>
	                                    <span class="check"></span>
	                                    <span class="box"></span>刘波回复</label>
	                            </div>
	                            <div class="md-radio" style="display: inline-block!important;">
	                                <input type="radio" id="checkbox4_2" name="radio4" value="112" class="md-radiobtn">
	                                <label for="checkbox4_2">
	                                    <span></span>
	                                    <span class="check"></span>
	                                    <span class="box"></span>短信回复</label>
	                            </div>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"></label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <textarea class="form-control toUserMsg" name="" rows="3" cols=""></textarea>
                                <span class="help-block" style="color:red"> </span>
                            </div>
                        </div>

                    	<div class="form-group">
                            <!--<label class="control-label col-lg-7 col-md-7 col-sm-7 col-xs-7">真实用户带入机器人配比:</label>-->
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"></label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="text-align: center;">
                            	<button id="shieldBtn" type="button" class="btn green ">
                                    <i class="fa fa-check"></i> 确定</button>
                                <button type="button" class="btn default lgdialogcloses">
                                	<i class="fa fa-times"></i>取消</button>
                            </div>
                    	</div>
                	</div>
                </form>
                <!-- END FORM-->
            </div>
       	<!--内容结束-->
        </div>
     </div>
</div>
<!-- 沉底弹窗 -->
<div class="lgdialog sinkback" style="display: none;">
    <div class="portlet-body form lgdialogcontent">
        <div class="modal-header modal-headers">
            <div class="dialogclose dialogcloses">
                <img src="/public/img/common/remove-icon-small.png"/>
            </div>
            <h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>沉底反馈</h4>
        </div>
        <div class="modal-body">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal ">
                    <div class="form-body">
                        
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">选择沉底原因:</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <select name="" class="form-control" id="sinkList">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4"></label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="text-align: center;">
                                <button id="sinkbackBtn" type="button" class="btn green">
                                    <i class="fa fa-check"></i> 确定</button>
                                <button type="button" class="btn default lgdialogcloses">
                                    <i class="fa fa-times"></i>取消</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
            <!--内容结束-->
        </div>
    </div>
</div>

<!--解封及沉底的弹窗-->
<div class="smdialog remarkdialog" style="display: none;">
    <div class="portlet-body form smdialogcontent">
        <div class="modal-header modal-headers">
            <div class="dialogclose dialogcloses">
                <img src="/public/img/common/remove-icon-small.png"/>
            </div>
            <h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>添加备注内容</h4>
        </div>
        <div class="modal-body">
        <!--内容开始-->
            <div class="smcontent">
                <!--<p>确定删除<span class="red">道具目名称(8888)</span>道具吗？</p>-->
                <textarea id="remarkTxt" name="" rows="2" cols="" class="form-control"></textarea>
                <span class="help-block remarkMsg" style="color:red"></span>
            </div>
        <!--内容结束-->
        </div>
        <div class="modal-footer">
            <button class="btn default smdialogcloses">取消</button>
            <button id="remarkBtn" class="btn green">确定</button>
        </div>
     </div>
</div>
<!--备注的弹窗-->
<div class="smdialog deletedialog" style="display: none;">
	<div class="portlet-body form smdialogcontent">
        <div class="modal-header modal-headers">
        	<div class="dialogclose dialogcloses">
        		<img src="/public/img/common/remove-icon-small.png"/>
        	</div>
        	<h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>添加备注内容</h4>
        </div>
        <div class="modal-body">
       	<!--内容开始-->
       		<div class="smcontent">
       			<!--<p>确定删除<span class="red">道具目名称(8888)</span>道具吗？</p>-->
       			<textarea name="" rows="2" cols="" class="form-control"></textarea>
       		</div>
       	<!--内容结束-->
        </div>
        <div class="modal-footer">
        	<button class="btn default smdialogcloses">取消</button>
        	<button id="remarkBtn" class="btn green">确定</button>
        </div>
     </div>
</div>
<!--信息提示弹窗弹窗-->
<div class="smdialog numCgdialog" style="display: none;">
    <div class="portlet-body form smdialogcontent">
        <div class="modal-header modal-headers">
            <h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i>信息提示</h4>
        </div>
        <div class="modal-body">
        <!--内容开始-->
            <div class="smcontent">
                <p style="color: red;"></p>
            </div>
        <!--内容结束-->
        </div>
     </div>
</div>
         <!--弹窗轮播开始-->
        <script type="text/javascript" src="/public/js/fancybox/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/public/js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
        <script type="text/javascript" src="/public/js/fancybox/jquery.fancybox.js?v=2.1.3"></script>
        <script type="text/javascript" src="/public/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5"></script>
        <script type="text/javascript" src="/public/js/fancybox/jquery.fancybox-thumbs.js?v=1.0.7"></script>
        <script type="text/javascript" src="/public/js/fancybox/jquery.fancybox-media.js?v=1.0.5"></script>
        <!--弹窗轮播结束-->
    <!--表格结束-->
    	<script src="/public/js/common/mytools.js" type="text/javascript"></script>
    	  <!--时间插件开始-->
		<script src="/public/js/common/moment.js" type="text/javascript"></script>
		<script src="/public/js/common/daterangepicker-1.3.7.js" type="text/javascript"></script>
		<script src="/public/js/common/mainTime.js" type="text/javascript"></script>
		<!--时间插件结束-->
         <!-- 分页插件 -->
        <!-- <script src="/public/js/common/page.js" type="text/javascript"></script> -->
        <script src="/public/js/common/pager.js" type="text/javascript"></script>
        <script src="/public/js/user/userCommon.js?t=<?=time()?>" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/user/waitHandleUser.js?t=<?=time()?>" type="text/javascript" charset="utf-8"></script>
       
		