
/*弹框中的修改样式*/
/*#modify{
	color: blue;
}

#inputBox{
	display: none;
}*/



/*.form-group label{
	display: inline-block;
}
.form-group span{
	display: inline-block;
}
.form-group a{
	display: inline-block;
}*/

/*粉丝排行榜和贡献榜表格上的提示*/
/*.tabletitle{
	font-size: 16px;
}*/

/*.form-group>div{
	height: 23px !important;
	line-height: 23px!important;
	vertical-align: middle !important;
	font-size: 12px !important;
}*/

/*.form-group>a{
	line-height: 23px;
}
.form-group>label{
	line-height: 23px;
}

.form-group .btn{
	height: 36px!important;
	margin-bottom: 5px!important;
}*/
