
<link href="/public/css/common/mytools.css" rel="stylesheet">
<style>
    .shieldlog .md-radio{
        display: block!important;
    }
    .pageTest{ width: 400px; height: 50px;margin: 0 auto; margin-top: 40px;display:block;}
    .activP{
        background-color: #337ab7!important;
        color: #fff!important;
    }
    .mgl{
    	margin-left: 10px;
    }
    .mglt{
    	margin-left: 10px;
    	margin-top: 5px;
    }
    .title{
    	margin-top: 10px;
    }
    .border_bottom {  
    	margin-top: 5px;
      border-bottom: 1px dotted gray; 
    }  
    .help-block{
        height: 15px;
    }
    /*.border_bottom:after {  
      content: "";  
      position: absolute;  
      bottom: 0px;  
      left: 0px;  
      right: 0px;  
      border-bottom: 1px solid gray;  
      -webkit-transform: scaleY(.1);  
      -webkit-transform-origin: 0 0;  
    }  */
</style>
<div class="breadcrumbs">
    <h1><i class="icon-users" style="padding-right: 10px;"></i>添加ugc标签</h1>
    <!--<ol class="breadcrumb">
        <li>投诉管理</li>
        <li class="active">待投诉管理</li>
    </ol>-->
</div>


<div class="page-content-row">
    <!-- BEGIN PAGE SIDEBAR -->
   
    <!-- END PAGE SIDEBAR -->
    <div class="page-content-col" style="padding-left:0;">
        <!-- BEGIN PAGE BASE CONTENT -->


        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered bordereds">
                    <div class="portlet-title" style="border-bottom: none;margin-bottom: 0;">
                        <div class="caption" style="color: #36C6D3">
                        <i class="icon-notebook" style="color: #36C6D3"></i>ugc标签分类</div>
                        <div class="tools" style="padding: 0;"> 
                              <button type="button" class="btn btn-success" id="addBgTag"><!--<i class=" icon-refresh">&nbsp;</i>-->添加ugc标签类别</button>  

                        </div>
                    </div>
                    <div class="portlet-title" id="typeList">
                    	<button type="button" class="btn">生活</button>
                    	<button type="button" class="btn">兴趣</button>
                    	<!-- <button type="button" class="btn">风格</button> -->
                    </div>
                    
                    <div class="portlet-body" id="container">
                		<div class="title">
                			<button class="btn btn-success">风格</button>
                			<button class="btn btn-warning">增加标签</button>
                			<div class="row">
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                			</div>
                		</div>
                		<div class="title">
                			<button class="btn btn-success">风格</button>
                			<button class="btn btn-warning">增加标签</button>
                			<div class="row">
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">嘻哈</button>
                				<button class="col-lg-1 col-md-1 btn btn-primary mglt">文艺</button>
                			</div>
                		</div>
                       
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
          
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>

<!--添加话术模板的弹窗-->
<div class="smdialog tagsdialog" style="display: none;">
    <div class="portlet-body form smdialogcontent">
        <div class="modal-header modal-headers">
            <div class="dialogclose dialogcloses">
                <img src="/public/img/common/remove-icon-small.png"/>
            </div>
            <h4 class="modal-title font-green"><i class=" icon-volume-2" style="padding-right: 10px;"></i><span id="logTitle">添加ugc标签类别</span></h4>
        </div>
        <div class="modal-body">
        <!--内容开始-->
            <div class="smcontent">
                <!--<p>确定删除<span class="red">道具目名称(8888)</span>道具吗？</p>-->
                <input type="text" class="form-control" id="tagsTxt" name="" placeholder="">
                <span class="help-block remarkMsg" style="color:red"></span>
            </div>
        <!--内容结束-->
        </div>
        <div class="modal-footer">
            <button class="btn default smdialogcloses">取消</button>
            <button id="tagsBtn" class="btn green">确定</button>
        </div>
     </div>
</div>


    	<script src="/public/js/common/mytools.js" type="text/javascript"></script>
    	
        <!-- 分页插件 -->
        <!-- <script src="/public/js/common/page.js" type="text/javascript"></script> -->
        <!-- <script src="/public/js/administrator/administratorPush.js?t=<?=time()?>" type="text/javascript" charset="utf-8"></script> -->
        <script>
        	$('.navbar-nav li.dropdown-fw').eq(4).addClass("open selected").siblings().removeClass("open selected");
   			$('.dropdown5 ul.dropdown-menu-fw>li').eq(1).addClass("active").siblings().removeClass("active");
   			var result = '';
   			// getList();
            $('input').on('focus',function(){
                $('.remarkMsg').html('');
            })
			function getList(){
				$.ajax({
			        url:'/New/ListShow/tag_list',
			        type:"POST",
			        dataType:"json",
			        async: false,
			        data:{
			        	
			        },
			        success:function(data){
			        	if(data && data.code == '200'){
			        		return result = data.data;
			        	}
			        }
		        })
			}
			loadFn();
			function loadFn(){
				var str = '';
				var tagStr = '';
				var newPid = [];
				getList();
				var len = result.length;
				
				for(var i=len-1;i>=0;i-- ){
					if(result[i].pid == '0'){
                        if(i==(len-1)){

						  str += '<button type="button" class="btn btn-success editTag" ids ="'+result[i].id+'" pid="'+result[i].pid+'">'+result[i].tagName+'</button>'
                        }else{
                             str += '<button type="button" class="btn btn-success mgl editTag" ids ="'+result[i].id+'" pid="'+result[i].pid+'">'+result[i].tagName+'</button>'
                        }
						newPid.push(result[i].id);
					}
				}
				var tagLen = newPid.length;
				var blackPid = [];
				for(var i =tagLen-1;i>=0;i--){
					blackPid.push(newPid[i]);
				}

				for(var i = 0;i<tagLen;i++){
					var num = newPid[i];
					var snum = blackPid[i];
					var typenum = Math.abs(snum -len);
					tagStr += '<div class="title"><button class="btn btn-success">'+result[typenum].tagName+'</button>';
					tagStr += '<button class="btn btn-warning mgl addtag" val="'+result[typenum].id+'">增加标签</button>';
					tagStr += '<div class="row">';	
					for(var j=0;j<len;j++){
						if(result[j].pid == snum){
							tagStr += '<button ids="'+result[j].id+'" pid="'+result[j].pid+'" class="col-lg-1 col-md-1 btn btn-primary mglt smType">'+result[j].tagName+'</button>';
						}
					}
					tagStr +='</div></div><div class="border_bottom"></div>';
					
				}
				$('#typeList').html(str);
				$('#container').html(tagStr);

				$('.addtag').on('click',function(){
                    $('.remarkMsg').html('');
					$('.tagsdialog').fadeIn('normal');
					var text ='增加' + $(this).prev().html() +'标签';
					$('#tagsTxt').val('');
					var pid = $(this).attr('val');
					$('#logTitle').html(text);
					$('#tagsBtn').unbind('click').bind('click',function(){
                        // console.log(pid);
						var tagName = $('#tagsTxt').val();
                        if(tagName != ''){
						    adminEdit('',pid,tagName);
                        }else{
                            $('.remarkMsg').html('内容不能为空');
                        }
					})
				})
				$('.smType').on('click',function(){
                    $('.remarkMsg').html('');
					$('.tagsdialog').fadeIn('normal');
					var text ='编辑' + $(this).html() +'标签'; 
					$('#tagsTxt').val($(this).html());
					$('#logTitle').html(text);
					var ids = $(this).attr('ids');
					var pid = $(this).attr('pid');
					$('#tagsBtn').unbind('click').bind('click',function(){
						var tagName = $('#tagsTxt').val();
                        if(tagName != ''){
					        adminEdit(ids,pid,tagName);
                        }else{
                            $('.remarkMsg').html('内容不能为空');
                        }
					})
				})
				$('.editTag').on('click',function(){
                    $('.remarkMsg').html('');
					$('.tagsdialog').fadeIn('normal');
					var text ='编辑' + $(this).html() +'标签类别'; 
					$('#tagsTxt').val($(this).html());
					$('#logTitle').html(text);
					var ids = $(this).attr('ids');
					var pid = $(this).attr('pid');
					$('#tagsBtn').unbind('click').bind('click',function(){
						var tagName = $('#tagsTxt').val();
                        if(tagName != ''){
						    adminEdit(ids,pid,tagName);
                        }else{
                            $('.remarkMsg').html('内容不能为空');
                        }
					})
				})
			}
			
			// adminEdit('',3,'二次元');
			function adminEdit(id,pid,tagName){
				$.ajax({
			        url:'/New/SAdmin/edit',
			        type:"POST",
			        dataType:"json",
			        async: true,
			        data:{
			        	table:'tag',
			        	id:id,
			        	pid:pid,
			        	tagName:tagName
			        },
			        success:function(data){
			        	if(data && data.code == '200'){
			        		$('.tagsdialog').fadeOut('normal');
			        		
			        		loadFn();
			        	}
			        }
		        })
			}

			$('#addBgTag').on('click',function(){
				$('.tagsdialog').fadeIn('normal');
                $('.remarkMsg').html('');
				$('#tagsTxt').val('');
				$('#logTitle').html('增加标签类别');
				$('#tagsBtn').unbind('click').bind('click',function(){
					var tagName = $('#tagsTxt').val();
                    if(tagName != ''){
    					adminEdit('',0,tagName);
                    }else{
                        $('.remarkMsg').html('内容不能为空');
                    }
				})
			})

			


        </script>
   
		