<!-- 头部开始 -->
<%- include('../templet/_meta', {title: "营销系统"}) %>

<!-- 导航条开始 -->
<%- include ../templet/_header %>
<!-- 导航条结束 -->


<div class="pd-20">
  这是个test的测试页面
 	<a href="/hello?admin=1">欢迎欢迎</a>
</div>